* {
  color: purple;
  border: 2px solid red;
}
h1 {
  color: yellowgreen;
}
img {
  height: auto;
  width: 500px;
}

button {
  background-color: orange;
  font-size: 18px;
}

p {
  background-color: green;
  color: white;
  font-size: 18px;
  text-align: center;
}

.outer {
  background-color: red;
  color: white;
  font-size: 32px;
  text-align: center;
  text-emphasis: bold;
  font-family: 'Courier New', Courier, monospace;
  
}

.inner {
  font-size: 22px;
  display: flex;
}